body {
    font-family: sans-serif;
    text-align: center;
}

h1 {
    margin-top: 20px;
}
h1 {color: rgb(184, 45, 219);}
h1{text-align: center;}
input[type="number"] {
    margin-top: 10px;
    padding: 5px;
}
p{text-align: center;}
button {
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
}

#resposta {
    margin-top: 10px;
    font-weight: bold;
}